:root,
.root,
#root {
  --background-dark: #{$background-dark};
  --background-light: #{$background-light};
  --color-dark: #{$color-dark};
  --color-light: #{$color-light};
  --accent-dark: #{$accent-dark};
  --accent-light: #{$accent-light};
  --easing-function: #{$easing-function};
}

@media screen and (min-width: 1024px) {
  body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-height: 100vh;
    background-image: url('~/assets/images/bodyBG.jpg');
    background-size: cover;
  }
  .lg\:container {
    height: calc(100vh - 3rem);
  }
}

.page-header {
  &__text {
    text-shadow: -5px 2px 0px #42b883;
    letter-spacing: 0.2rem;
    transition: letter-spacing 0.3s var(--easing-function);
    &:hover {
      letter-spacing: 0.5rem;
    }
  }
  .anim-letter,
  .anim-letter--bang {
    display: inline-block;
    color: var(--color-dark);
    transform: scale(0);
  }
}

.page-root {
  min-width: 310px;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-light);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
}

/** CORNER **/

.corner-enter,
.corner-leave-to {
  opacity: 0;
  transform: translateY(50px) translateX(50px);
}

.corner-enter-active,
.corner-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

/** SLIDEDOWN **/

.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: opacity 0.4s, transform 0.4s ease-in-out;
}

/** SCALE **/

.scale-enter,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.scale-enter-active,
.scale-leave-active {
  transition: transform 0.2s, opacity 0.2s;
}

/** TRANSFORM 3D **/
.transform3d-enter,
.transform3d-leave-to {
  opacity: 0;
  transform: perspective(1500px) rotateY(10deg);
}
.transform3d-enter-to,
.transform3d-leave {
  transform-origin: left;
  transition: transform 1s ease 0s, opacity 1s ease 0s;
  will-change: transform;
}