:root,
.root,
#root {
  --background-dark: #383838;
  --background-light: white;
  --color-dark: white;
  --color-light: rgb(75, 85, 99);
  --accent-dark: rgb(16, 185, 129);
  --accent-light: rgb(16, 185, 129);
}
