:root,
.root,
#root {
  --background-dark: #383838;
  --background-light: white;
  --color-dark: white;
  --color-light: #35495e;
  --accent-dark: #42b883;
  --accent-light: #42b883;
  --easing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
