$background-dark: #161d26;
$background-darker: #18202b;
$background-light: white;
$color-dark: #1B2430;
$color-light: white;
$color-accent: #42b883;
$easing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
